footer {
  background-color: #2e8b57;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

@media screen and (max-width: 321px){
  nav ul {
       display: flex;
       flex-direction: column;
  } 

  section {
       padding: 0;
       margin: 0;
       border-radius: 0;
       
  }

  section h2 {
       text-align: center;
  }

  .projetos_conteudo {
       flex-direction: column; 
       justify-content: center;
       align-items: center;
  }

  form {
       width: 300px;
  }
}
