section {
  margin: 50px;
  padding: 50px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #3CB371;
}

@media only screen and (max-width: 400px) {
  section {
      margin: 15px;
      padding: 15px;
  }
}

